%s  coor_sys  
(
      origin           : struct(x: %s, y: %s, z: %s),
      x_axis           : struct(x: %2.6f, y: %2.6f, z: %2.6f),
      y_axis           : struct(x: %2.6f, y: %2.6f, z: %2.6f),
      base             : ref(%s)
)